@import "tailwindcss";

@media print {
  body * {
    visibility: hidden;
  }
  .printable-route-slip, .printable-route-slip * {
    visibility: visible;
  }
  .printable-route-slip {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}